<!DOCTYPE html>
<html>
<head>
	<title></title>

	 <!--Import Google Icon Font-->
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <!--Import materialize.css-->
   <link type="text/css" rel="stylesheet" href="/static/css/materialize.min.css"  media="screen,projection"/>

   <!--Let browser know website is optimized for mobile-->
   <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
   
</head>
<body>
<h1>DELETE Idea</h1>

<form action="{{ url_for('deleteIdea', user_id = user_id, idea_id = i.id) }}" method="post">
	<p>Name:</p>
	<h3>{{i.name}}</h3>

	<input type="submit" value="Delete" name="">
	<a href="{{url_for('user', user_id = i.user.id)}}"> Cancel </a>
</form>
</body>
</html>