<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Python Flask Bucket List App</title>
 
 
    <link rel="shortcut icon" type="image/png" href="/favicon.png"/>
    <link rel="shortcut icon" type="image/png" href="static/images/favicon.png"/>

    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="static/css/materialize.min.css"  media="screen,projection"/>

 
</head>
 
<body>
 
	<div class="container">
    	<div class="header">
            <nav>
            <div class="nav-wrapper #9c27b0 purple">
                <ul class="right hide-on-med-and-down" id="nav-mobile">
                    <li role="presentation"><a href="/logout">Logout</a></li>
                </ul>
                <h3 class="nav-title">Python Flask App</h3>
            </div>
            </nav>
        </div>
  
 
<h1>New Idea</h1>

<form action="{{ url_for('editIdea', user_id = user_id ,idea_id = i.id) }}" method="post">
	<p>Name:</p>
	<input type="text" name="name" size="30" placeholder="{{i.name}}">
	<p>Description:</p>
	<textarea id="textarea1" class="materialize-textarea" name="description" cols="50" rows="10"></textarea>
	<p>Category:</p>
	<input type="text" name="category" size="30" placeholder="{{i.name}}">
	<p>Tags:</p>
	<input type="text" name="tags" size="30" placeholder="{{i.name}}">

	<input type="submit" value="Edit" name="">
	<a href="{{url_for('user', user_id = i.user.id)}}"> Cancel </a>
</form>

</body>

<footer class="footer">
<p>&copy; Company 2015</p>
</footer>
 
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="static/js/materialize.min.js"></script>
      <script type="text/javascript">
           $(document).ready(function(){
      $('.parallax').parallax();
    });
        
         $('#textarea1').val('Describe your idea better here');
  $('#textarea1').trigger('autoresize');
  
      </script>
</body>
 
</html>

