<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Python Flask Bucket List App</title>
 
 
    <link rel="shortcut icon" type="image/png" href="/favicon.png"/>
   <link rel="shortcut icon" type="image/png" href="static/images/favicon.png"/>

   <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <link type="text/css" rel="stylesheet" href="static/css/materialize.min.css"  media="screen,projection"/>

 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
            <div class="nav-wrapper #9c27b0 purple">
                <ul class="right hide-on-med-and-down" id="nav-mobile">
                    <li role="presentation" class="active"><a href="/">Home</a>
                    </li>
                    <li role="presentation"><a href="showSignin">Sign In</a>
                    </li>
                    <li role="presentation"><a href="showSignUp">Sign Up</a>
                    </li>
                    <li role="presentation"><a href="/showAddWish">Add Wish</a></li>
                </ul>
                <h3 class="nav-title">Python Flask App</h3>
            </div>
            </nav>
        </div>
 
        <div class="row">
            <h1>Welcome Home !!</h1>
 
        </div>
 
 
        <footer class="footer">
            <p>&copy; ShaRobley 2017</p>
        </footer>
 
    </div>
</body>
 
</html>